<div class="banner">
    <ul>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 30% de lanzamiento</li>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 36% de lanzamiento</li>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 30% de lanzamiento</li>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 30% de lanzamiento</li>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 30% de lanzamiento</li>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 36% de lanzamiento</li>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 30% de lanzamiento</li>
        <li>Bienvenido a mi sitio web</li>
        <li>Hoy descuento del 30% de lanzamiento</li>
    </ul>
</div>
