<div>
    <form action="">
        <div>
            <h2>Registrate</h2>
            <label for="nombre">Nombre</label>
            <input type="text" placeholder="Escriba su nombre">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="Escriba su email">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="Escriba su contraseña">
        </div>
        <div>
            <button type="submit" (click)="Registrar()">Registrar</button>
        </div>
    </form>
</div>