<app-navbar></app-navbar>
<router-outlet></router-outlet>
<footer class="card text-center base">
    <div class="container">
        <div class="row">
                <div class="about-us col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="log max-width">
                        <a routerLin="/home" class="link-1 col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"><img src="#" class="nav-link logotipo"></a>
                    </div>
                </div>
                <div class="contact-inf col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 barra">
                    <div class="footer-links max-width">
                        <h4>Punto de información</h4>
                        <div><a routerLink="/home" class="link-1">Inicio</a></div>
                        <div><a routerLink="/mision" class="link-1">Sobre Nosotros</a></div>
                        <div><a routerLink="/registro" class="link-1">Registro</a></div>
                        <div><a routerLink="/contactenos" class="link-1">Faq</a></div>
                    </div>
                </div>
                <div class="follow-us col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 barra">
                    <div class="footer-company-about"><h4>Info</h4></div> 
                    <div><a routerLink="/" class="link-1">Politica de privacidad</a></div>
                    <div><a routerLink="terminos.html" class="link-1">Terminos y condiciones</a></div>
                    <div class="footer-company-name">Wonderful © 2024</div>
                </div>
                <div class="follow-us col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <div class="footer-Suscribe">
                        <h5>Do everything with love</h5>
                    </div>
                    <div class="lblnoticias">Receive news and offers</div>
                    <div>
                        <input type="text" class="form-control" placeholder="your email">
                    </div>
                    <button type="button" class="btn btn-success" >Suscribe</button>
                </div>
        </div>   
    </div>  
</footer>